<div class="modal fade" id="viewServiceModal" tabindex="-1" aria-labelledby="viewServiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewServiceLabel">Service Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Service Name:</strong> <span id="title"></span></p>
                <p><strong>Description:</strong> <span id="description"></span></p>
                <p><strong>Author:</strong> <span id="author"></span></p>
                <p><strong>Created At:</strong> <span id="createdAt"></span></p>
                
            </div>
        </div>
    </div>
</div>
