<div class="modal fade" id="viewStoryModal" tabindex="-1" aria-labelledby="viewStoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewStoryLabel">Story Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Title:</strong> <span id="storyTitle"></span></p>
                <p><strong>Year:</strong> <span id="storyYear"></span></p>
                <p><strong>Author:</strong> <span id="storyAuthor"></span></p>
                <p><strong>Content:</strong> <span id="storyContent"></span></p>
                <img id="storyPhoto" src="" alt="Story Photo" class="img-fluid" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>

