<div class="modal fade" id="viewNewsModal" tabindex="-1" aria-labelledby="viewNewsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewNewsLabel">News Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Title:</strong> <span id="newsTitle"></span></p>
                <p><strong>Content:</strong> <span id="newsContent"></span></p>
                <p><strong>Author:</strong> <span id="newsAuthor"></span></p>
                <p><strong>Created At:</strong> <span id="newsCreatedAt"></span></p>
                <img id="newsPhoto" src="" alt="News Photo" class="img-fluid" style="max-width: 100%;">
                <video id="newsVideo" controls style="width: 100%; margin-top: 15px;"></video>
            </div>
        </div>
    </div>
</div>
