<div class="modal fade" id="viewBranchModal" tabindex="-1" aria-labelledby="viewBranchLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewBranchLabel">Branch Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Branch Name:</strong> <span id="branchName"></span></p>
                <p><strong>Address:</strong> <span id="branchAddress"></span></p>
                <p><strong>Phone:</strong> <span id="branchPhone"></span></p>
                <p><strong>Email:</strong> <span id="branchEmail"></span></p>
                <p><strong>Author:</strong> <span id="branchAuthor"></span></p>
                <p><strong>Created At:</strong> <span id="branchCreatedAt"></span></p>
                <img id="branchPhoto" src="" alt="Branch Photo" class="img-fluid" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>
